### Project

In [77]:
import os
import pandas as pd
import numpy as np

In [2]:
ls

overview.ipynb

In [3]:
print(os.listdir("../input/"))

['test_stage_1.tsv', 'sample_submission_stage_1.csv']

In [5]:
data_df = pd.read_csv('../input/test_stage_1.tsv', delimiter='\t')
submission = pd.read_csv('../input/sample_submission_stage_1.csv')

In [84]:
data_df.shape, submission.shape

((2000, 9), (2000, 4))

#### Objective

- In Identify the target of a pronoun within a text passage. 

- You are provided with the pronoun and two candidate names to which the pronoun could refer. 

- You must create an algorithm capable of deciding whether the pronoun refers to name A, name B, or neither.

#### Evaluation

- Submissions are evaluated using the multi-class logarithmic loss.

- Each pronoun has been labeled with whether it refers to A, B, or NEITHER. 

- For each pronoun, you must submit a set of predicted probabilities (one for each class). The formula is :


#### Submission

```
ID,             A,        B,        NEITHER
development-1,  0.33333,  0.33333,  0.33333
development-2,  0.33333,  0.33333,  0.33333
development-3,  0.33333,  0.33333,  0.33333
```

#### Evaluation

$$
l = - \frac{1}{\text{n_samples}} \sum_{i = 1}^{\text{n_samples}} \sum_{j = 1}^{\text{n_classes}} y_{ij} \log(p_{ij})
$$

Where $y_{ij}$ is 1 or zero depending on if the i'th sample has as true label class 1, 2 or 3.

In [83]:
data_df.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,De la Sota,246,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,Henry Rosenthal,336,http://en.wikipedia.org/wiki/Crime_(band)
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,Rivera,294,http://en.wikipedia.org/wiki/Jessica_Rivera

#### What is this all about

In [82]:
URL = data_df["URL"][1]
URL

'http://en.wikipedia.org/wiki/Warren_MacKenzie'

In [48]:
# text: String containing the ambiguous pronoun and two candidate names. About a paragraph in length
text = data_df["Text"][1]
print(text)

He grew up in Evanston, Illinois the second oldest of five children including his brothers, Fred and Gordon and sisters, Marge (Peppy) and Marilyn. His high school days were spent at New Trier High School in Winnetka, Illinois. MacKenzie studied with Bernard Leach from 1949 to 1952. His simple, wheel-thrown functional pottery is heavily influenced by the oriental aesthetic of Shoji Hamada and Kanjiro Kawai.

In [49]:
pronoun = data_df["Pronoun"][1]
pronoun

'His'

In [62]:
# pronoun_offset: Character offset of Pronoun in Column 2 (Text)
# offset: the amount or distance by which something is out of line.
pronoun_offset = data_df["Pronoun-offset"][1]
pronoun_offset

284

In [68]:
text[pronoun_offset:pronoun_offset+len(pronoun)]

'His'

In [69]:
A = data_df["A"][1]
A_offset = data_df["A-offset"][1]
A, A_offset

('MacKenzie', 228)

In [70]:
text[A_offset:A_offset+len(A)]

'MacKenzie'

In [57]:
B = data_df["B"][1]
B_offset = data_df["B-offset"][1]
B, B_offset

('Bernard Leach', 251)

In [71]:
text[B_offset:B_offset+len(B)]

'Bernard Leach'

In [88]:
submission.head()

              ID        A        B  NEITHER
0  development-1  0.33333  0.33333  0.33333
1  development-2  0.33333  0.33333  0.33333
2  development-3  0.33333  0.33333  0.33333
3  development-4  0.33333  0.33333  0.33333
4  development-5  0.33333  0.33333  0.33333